<section id="pokedex-detalles">
  <article class="pokemon row col-md-6">
    <div class="perfil col-md-6">
      <img ng-src="{{pokemon.imagen}}" alt="{{pokemon.nombre}}" width="200" />
      
      <div class="tipos">
        <span class="badge tipo-{{tipo}}" ng-repeat="tipo in pokemon.tipos">
          {{tipo}}
        </span>
      </div>
    </div>
    
    <div class="ficha col-md-6">
        <h2>{{pokemon.nombre}}</h2>
        <p>{{pokemon.descripcion}}</p>
        <strong>ATT:</strong> {{pokemon.ataque}}
        <strong>DEF:</strong> {{pokemon.defensa}}
        <br />
        <strong>SP:</strong> {{pokemon.ataqueSP}}
        <strong>SPD:</strong> {{pokemon.defensaSP}}
    </div>
  </article>
</section>